<odoo>
    <!-- Main Hospital Menu -->
    <menuitem id="menu_hospital_root" name="Hospital Management" sequence="1" web_icon="hospital_management,static/description/icon.png"/>

    <!-- Patients -->
    <menuitem id="menu_hospital_patients" name="Patients" parent="menu_hospital_root" action="hospital.patient_action" sequence="1"/>

    <!-- Doctors -->
