<odoo>
    <!-- Main Hospital Menu -->
    <menuitem id="hospital_management.menu_hospital_root" name="Hospital Management" sequence="1" web_icon="hospital_management,static/description/icon.png"/>

    <!-- Patients -->
    <menuitem id="hospital_management.menu_hospital_patients" name="Patients" parent="hospital_management.menu_hospital_root" action="hospital_management.patient_action" sequence="1"/>

    <!-- Doctors -->
    <menuitem id="hospital_management.menu_hospital_doctors" name="Doctors" parent="hospital_management.menu_hospital_root" action="hospital_management.doctor_action" sequence="2"/>

    <!-- Departments -->
    <menuitem id="hospital_management.menu_hospital_departments" name="Departments" parent="hospital_management.menu_hospital_root" action="hospital_management.department_action" sequence="3"/>

    <!-- Appointments -->
    <menuitem id="hospital_management.menu_hospital_appointments" name="Appointments" parent="hospital_management.menu_hospital_root" action="hospital_management.appointment_action" sequence="4"/>

    <!-- Medical Records -->
    <menuitem id="hospital_management.menu_hospital_medical_records" name="Medical Records" parent="hospital_management.menu_hospital_root" action="hospital_management.medical_record_action" sequence="5"/>
</odoo>